[user]
	email = 29058596+lucaionescu@users.noreply.github.com
	name = Luca Ionescu

[alias]
	a = add
	aa = add --all
	b = branch
	cm = commit -m
	caa = commit --all --amend --no-edit
	cam = commit --all -m
	cl = clone
	co = checkout
	d = diff
	dw = diff --word-diff
	f = fetch
	l = log --graph --oneline --decorate
	ll = log --graph --abbrev-commit --decorate --date=short --format=format:'%C(red)%h%C(reset) - %C(blue)(%ai) %C(reset) %C(yellow)%s%C(reset) %C(yellow)- %an%C(reset)%C(red)%d%C(reset)' --all
	pl = pull
	ps = push
	r = reset
	re = remote -v
	s = status -sb
	sl = stash list
	spo = stash pop
	spu = stash push

[credential]
	helper = cache

[core]
	editor = "/usr/bin/vim"
	excludesfile = ~/.gitignore_global

[help]
	autocorrect = 1

[color]
	ui = auto

[grep]
	lineNumber = true

[github]
	user = lucaionescu
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
