[user]
	email = lucaionescu@users.noreply.github.com
	name = Luca Ionescu

[github]
	user = lucaionescu

[alias]
	a = add
	aa = add --all
	br = branch
	br = branch
	ci = commit
	cl = clone
	co = checkout
	di = diff
	fe = fetch
	forgot = commit --amend --no-edit
	l = log --graph --abbrev-commit --decorate --date=short --format=format:'%C(red)%h%C(reset) - %C(blue)(%ai) %C(reset) %C(yellow)%s%C(reset) %C(yellow)- %an%C(reset)%C(red)%d%C(reset)' --all
	ps = push
	pu = pull
	s = status
	uncommit = reset --soft HEAD^

[credential]
	helper = cache

[core]
	editor = "emacs -nw"
	excludesfile = ~/.gitignore_global

[help]
	autocorrect = 1

[color]
	ui = auto
