[user]
	email = lucaionescu@users.noreply.github.com
	name = Luca Ionescu

[github]
	user = lucaionescu

[alias]
	a = add
	aa = add --all
	b = branch
    c = commit
    cm = commit -m
    cam = commit -a -m
    ca = commit --amend
	cl = clone
	co = checkout
	d = diff
	f = fetch 
    l = log --graph --oneline --decorate
	ll = log --graph --abbrev-commit --decorate --date=short --format=format:'%C(red)%h%C(reset) - %C(blue)(%ai) %C(reset) %C(yellow)%s%C(reset) %C(yellow)- %an%C(reset)%C(red)%d%C(reset)' --all
	pl = pull
	po = stash pop
	ps = push
    r = reset
	s = status -sb

[credential]
	helper = cache

[core]
	editor = $EDITOR 
	excludesfile = ~/.gitignore_global

[help]
	autocorrect = 1

[color]
	ui = auto
