[user]
	email = 29058596+lucaionescu@users.noreply.github.com
	name = Luca Ionescu

[alias]
	a = add
	aa = add --all
	b = branch
	c = commit
	cm = commit -m
	cv = commit -v
	cam = commit --all -m
	cane = commit --amend --no-edit
	cl = clone
	co = checkout
	d = diff
	dw = diff --word-diff
	f = fetch
	l = log --graph --oneline --decorate
	ll = log --graph --abbrev-commit --decorate --date=short --format=format:'%C(red)%h%C(reset) - %C(blue)(%ai) %C(reset) %C(yellow)%s%C(reset) %C(yellow)- %an%C(reset)%C(red)%d%C(reset)' --all
	pl = pull
	ps = push
	psfl = push --force-with-lease
	r = reset
	re = remote -v
	s = status -sb
	sl = stash list
	spo = stash pop
	spu = stash push

[credential]
    helper = cache

[core]
	editor = "/usr/bin/vim"
	excludesfile = ~/.gitignore_global

[help]
	autocorrect = 1

[color]
	ui = auto

[grep]
	lineNumber = true

[github]
	user = lucaionescu

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[init]
	defaultBranch = main

[commit]
    verbose = true

[rebase]
    autoSquash = true
    autoStash = true

[diff]
    algorithm = histogram
    colorMoved = plain
    mnemonicPrefix = true
    renames = true

[column]
    ui = auto

[branch]
    sort = -committerdate

[push]
    default = simple
    autoSetupRemote = true

[fetch]
    prune = true
    pruneTags = true
    all = true

[pull]
    rebase = true
